.container {
    padding-bottom: 4rem;
    border: 1px solid #ccc; 
  }
  
  .title {
    margin-bottom: 3rem;
    font-size: 2rem; 
    color: #333; 
  }
  
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; 
  }
  
  .gridItem {
    flex: 1 0 calc(33.33% - 1rem); 
    box-sizing: border-box;
    margin-bottom: 4rem;
    border: 1px solid #ccc; 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
  }
  
  .gridItem > * {
    margin-bottom: auto; 
  }
  
  .noContent {
    color: red; 
  }
  