/* .container {
  max-width: 100%;
}


.header {
  width: 100%;
 padding: 10px ; 
  top: 0;
  left: 0;
  z-index: 10;
  background: #FCCB8C;
  box-shadow: 0 0.3rem 2rem 0px rgba(1, 2, 1, 0.10) !important ;
  
}

.link {
  color: #ffffff;
  text-decoration: none;
}
.logo {
  margin-left: 15%!important;
}

.navbar {
  margin-left: 20px;
}

.navLink {
  color: #fff;
  margin-left: 20px;
  margin-right: 30px;
  text-decoration: none;
  padding: 5px;
  white-space: nowrap;
}

.navLink:hover {
  color: #ddd;
}

.signInBtn {
  color: #fff;
  background-color: rgba(108, 117, 125, 0.5); 
}

  
    
    .footer {
      box-shadow: -1px 1rem 2rem 4px rgba(1, 2, 1, 0.25) !important ;
  
      background: #FCCB8C;
      background-size: cover;
      border-radius: 0.25rem;
      width: 100%;
      color: white;
      position: relative;
      bottom: 0;
      display: flex;
     max-height: 25px;

    }
    
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    
    .nav-list {
      list-style: none;
    }
    
    .navLink {
      color: white;
      text-decoration: none;
    }
    
    .navLink:hover {
      color: #ddd;
      transition: color 0.3s ease-in-out;
    }
    
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }
    } */